<!-- <p>
  Angular Version in Shell: {{ngVersion}}
</p>
<p>&nbsp;</p>
<ul>
 
  <li><a routerLink="">DashBoard</a></li>
  <li><a routerLink="mfe1/a">Login</a></li>
  <li><a routerLink="mfe2/a">Account</a></li>
  <li><a routerLink="poll">Positions from monolithic</a></li> 
  <li style="float: right; margin: 10px;">
    <button (click)="sendData()">
    Login
  </button>
</li>

</ul> -->

<div class="topHeaderContainer">
  <div class="textFont"><i>Investing in your future</i></div>
  <div class="centerText"> As of {{currentDate | date: 'dd/MM/yyyy hh:mm a' }} EDT</div>
  <div class="topHeaderLeftContainer textFont">
      <span>Paperless Status</span>
      <div class="progressBarcontainer">
          <div class="innerBar"></div>
      </div>
      <div class="dividerBar dividerAlign">|</div>
      <div class="iconText" (click)="sendData()">
          <i class="fa fa-user-circle iconAlign"  style="font-size:17px"></i>
          <span class="textStyle">My Rep</span>
      </div>
      <div class="dividerBar">|</div>
      <div class="iconText">
          <i class="fa fa-question-circle iconAlign"  style="font-size:19px"></i>
          <span class="textStyle">Help</span>
      </div>
      <div class="dividerBar">|</div>
      <div class="iconText">
          <i class="fa fa-bell iconAlign"  style="font-size:16px"></i>
          <i class="fa fa-gear"  style="font-size:18px"></i>
          <i class="fa fa-sign-out iconAlign"  style="font-size:16px"></i>
      </div>
  </div>
</div>

<div class="header_area">
<div class="main_header_area animated">
  <div class="container-fluid">
    <nav id="navigation1" class="navigation">
      <!-- Logo Area Start -->
      <div class="nav-header">
        <a class="nav-brand logo" href="#"><img src="../assets/images/Logo.svg" alt="Logo"></a>
        <div class="nav-toggle"></div>
      </div>
      <!-- Search panel Start -->
      <div class="nav-search">
        <div class="icon-wrap">
          <input type="text" class="search-control form-icon" placeholder="Search by Symbol or Company Name">
       </div>
      </div>
      <!-- Main Menus Wrapper -->
      <div class="nav-menus-wrapper">
        <ul class="nav-menu">
          <li><a routerLink="">Overview</a></li>

          <li><a routerLink="mfe1/a">Account</a>
            <ul class="nav-dropdown">                
              <li><a href="#">Balances</a></li>
              <li><a href="#">Holdings</a></li>
              <li><a href="#">Activity</a></li>
              <li><a href="#">Linked Accounts</a></li>
            </ul>
          </li>

          <li><a routerLink="mfe1/a">Transfer Money</a></li>

          <li><a routerLink="mfe2/a">Goals</a></li>

          <li><a routerLink="mfe2/a">Documents</a>
            <ul class="nav-dropdown">                
              <li><a href="#">Statements</a></li>
              <li><a href="#">My Files</a></li>
              <li><a href="#">Trade Confirmations</a></li>
              <li><a href="#">Tax Forms</a></li>
              <li><a href="#">Notices</a></li>
              <div class="clearfix"></div>
            </ul>
          </li>

          <li><a routerLink="poll">Market Insights</a>
              <ul class="nav-dropdown">                
              <li><a href="#">Research</a></li>
              <li><a href="#">Stock Research</a></li>
              <li><a href="#" target="_blank">Options Research</a></li>
            </ul>              
          </li>
          <!-- <li style="float: right; margin: 10px;">
            <button (click)="sendData()">
            Login
          </button> -->

          <!-- <li>
            <i (click)="sendData()" class="gg-log-in"></i>
          </li> -->

          <!-- <li><a href="#">Trading</a>
            <ul class="nav-dropdown w-auto">                
              <li><a href="#">Stocks & ETFs</a></li>
              <li><a href="#">Options</a></li>
              <li><a href="#">Options Chain</a></li>
              <li><a href="#">Mutual Funds</a></li>
              <li><a href="#">Order Status</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
</div>
</div>
<router-outlet></router-outlet>