<!-- <p>
  Angular Version in Shell: {{ngVersion}}
</p>
<p>&nbsp;</p>
<ul>
 
  <li><a routerLink="">DashBoard</a></li>
  <li><a routerLink="mfe1/a">Login</a></li>
  <li><a routerLink="mfe2/a">Account</a></li>
  <li><a routerLink="poll">Positions from monolithic</a></li> 
  <li style="float: right; margin: 10px;">
    <button (click)="sendData()">
    Login
  </button>
</li>

</ul> -->

<div class="topHeaderContainer">
  <div class="textFont sm:flex hidden"><i>Investing in your future</i></div>
  <div class="flex mx-auto sm:hidden"> As of {{currentDate | date: 'dd/MM/yyyy hh:mm a' }} EDT</div>
  <div class="centerText hidden sm:block"> As of {{currentDate | date: 'dd/MM/yyyy hh:mm a' }} EDT</div>
  <div class="topHeaderLeftContainer textFont sm:flex hidden">
    <span>Paperless Status</span>
    <div class="progressBarcontainer">
      <div class="innerBar"></div>
    </div>
    <div class="dividerBar dividerAlign">|</div>
    <div class="iconText" (click)="sendData()">
      <i class="fa fa-user-circle iconAlign" style="font-size:17px"></i>
      <span class="textStyle">My Rep</span>
    </div>
    <div class="dividerBar">|</div>
    <div class="iconText">
      <i class="fa fa-question-circle iconAlign" style="font-size:19px"></i>
      <span class="textStyle">Help</span>
    </div>
    <div class="dividerBar">|</div>
    <div class="iconText">
      <i class="fa fa-bell iconAlign" style="font-size:16px"></i>
      <i class="fa fa-gear" style="font-size:18px"></i>
      <i class="fa fa-sign-out iconAlign" style="font-size:16px"></i>
    </div>
  </div>
</div>

<app-top-nav></app-top-nav>

<router-outlet></router-outlet>